/* CONFIGURAÇÕES GERAIS */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: calibri;
}

@font-face {
    font-family: 'magical';
    src: url('fonte/Magical\ Feather.ttf');
}

h1 {
    font-family: 'magical';
    font-size: 3rem;
    text-align: center;
    margin-bottom: 4rem;
}

button {
    cursor: pointer;
}

#menu-header ul li {
    transition-property: transform;
    transition-duration: 0.7s;
    animation-timing-function: ease;
}

#menu-header ul li:hover {
    transform: scale(1.1);
}

#menu-header ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
}

#menu-footer ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-direction: row;
    padding: 0;
    gap: 6rem;
}

#menu-header li a {
    background-color: rgba(220, 22, 55, 0.422);
    padding: 10px 20px;
    flex-direction: row;
    color: black;
    text-decoration: none;
}

#menu-footer li a {
    color: black;
}

main {
    flex-grow: 1;
    background-color: rgba(175, 172, 172, 0.744);
    padding: 2rem 5rem;
    margin: 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: rgba(220, 22, 55, 0.422);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PÁGINA PRINCIPAL */

#link-cad {
    color: black;
    text-decoration: none;
}

#link-cad:hover {
    text-decoration: underline;
}

.livro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 4rem;
}

.livro img {
    width: 20rem;
}

.bt-livro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bt-livro button {
    padding: 10px;
    border-radius: 4px;
    border: none;
}

.bt-livro button:hover {
    background-color: rgba(122, 116, 116, 0.356);
}

/* RESPONSIVIDADE - PÁGINA PRINCIPAL */
/* CELULARES */
@media (max-width: 768px) {
    .livro img {
        width: 15rem;
    }

    .bt-livro button {
        padding: 5px;
    }

    footer p {
        text-align: center;
    }
}

/* CADASTRO */

#container-cad {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: white;
    margin: 3rem;
    padding: 2rem 5rem;
}

#form-cad {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

#form-cad input {
    align-self: flex-start;
}

#bt-cad {
    align-self: flex-start;
    border-radius: 3px;
    padding: 6px;
}

#bt-cad:hover {
    background-color: rgba(245, 219, 219, 0.842);
}

.link-login {
    color: white;
    text-decoration: none;
}

.link-login a:hover {
    text-decoration: underline;
}

#divisorCad {
    width: 1px;
    height: 300px;
    margin: 0 auto;
    background-color: white;
}

#cont-sec {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-direction: column;
}

#cont-sec h2, #cont-sec h3 {
    font-size: 2rem;
    margin-left: 25px;
}

/* RESPONSIVIDADE - CADASTRO */
/* CELULARES */
@media (max-width: 768px) {
    #container-cad {
        flex-direction: column;
        gap: 1rem;
    }

    #divisorCad {
        width: 80%;
        height: 1px;
    }

    #cont-sec {
        align-items: center;
    }

    #cont-sec h2, #cont-sec h3 {
        font-size: 1.4rem;
    }
}

/* LOGIN */

#container-login {
    background-color: black;
    display: flex;
    width: 70%;
    max-width: 900px;
    height: 300px;
    padding: 60px 30px;
    margin: 40px auto;
    justify-content: space-around;
    align-items: center;
}

#form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.campo-form-login {
   display: flex;
   flex-direction: column;
   padding: 8px;
}

#form-login label {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

#user-logado {
    display: flex;
    width: 100%;
    height: 0 auto;
    justify-content: space-around;
}

#container-dados {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    margin: 1.5rem;
}

#dados-user span {
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1.2px 1px 1px rgb(228, 58, 86);
}

#dados-user {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

#bt-dados {
    display: flex;
    flex-direction: row;
    margin-left: 1.3rem;
    margin-top: 3rem;
    gap: 3px;
}

#bt-login, #bt-excluir, #bt-logout, #bt-editar {
    border-radius: 3px;
    padding: 6px;
}

#bt-login:hover, #bt-excluir:hover, #bt-logout:hover, #bt-editar:hover {
    background-color: rgba(245, 219, 219, 0.842);
}

#divisorLogin {
    display: none;
    width: 1px;
    height: 300px;
    margin: 0 auto;
    background-color: white;
}

#container-update {
    display: flex;
    flex-direction: column;
    line-height: 1.6rem;
    color: white;
    justify-content: flex-end;
    margin: 1.5rem;
}

#form-editar {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

#form-editar input {
    align-self: flex-start;
}

.campo-form-logado {
    display: flex;
    flex-direction: column;
}

#bt-editar {
    align-self: flex-start;
}

/*RESPONSIVIDADE - MEUS DADOS */
/* CELULARES */
@media (max-width: 768px) {
    #container-login {
        padding: 20px 10px;
        height: auto;
    }

    #user-logado {
        flex-direction: column;
        align-items: center;
    }

    #divisorLogin {
        width: 80%;
        height: 1px;
    }
}

/* MINHA ÁREA */

#container-minha-area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

#divisorArea {
    display: flex;
    width: 1px;
    margin: 0 10px;
    background-color: white;
}

#link-dados {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
}

#link-dados span:hover {
    text-decoration: underline;
}

.meus-livros {
    padding: 1rem;
}

.bt-status {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.bt-status button {
    padding: 6px;
    border: none;
    border-radius: 4px;
}

.bt-status button:hover {
    background-color: rgba(122, 116, 116, 0.356);
}

/* RESPONSIVIDADE MINHA ÁREA */
/* CELULARES */
@media (max-width: 768px) {
    main {
        margin: 1rem;
        padding: 1rem;
    }

    #container-minha-area {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #lista-finalizados, #lista-desejos {
        width: 100%;
        padding: 0;
    }

    .meus-livros {
        width: 100%;
        text-align: center;
    }

    #divisorArea {
        width: 80%;
        height: 1px;
    }
}