body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: calibri;
}

h1 {
    text-align: center;
    margin-bottom: 4rem;
}

#menu-header ul li {
    transition-property: transform;
    transition-duration: 0.7s;
    animation-timing-function: ease;
}

#menu-header ul li:hover {
    transform: scale(1.1);
}

#menu-header ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
}

#menu-footer ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-direction: row;
    padding: 0;
    gap: 6rem;
}

#menu-header li a {
    background-color: rgba(220, 22, 55, 0.422);
    padding: 10px 20px;
    flex-direction: row;
    color: black;
    text-decoration: none;
}

#menu-footer li a {
    color: black;
}

main {
    flex-grow: 1;
    background-color: rgba(175, 172, 172, 0.744);
    padding: 20px 30px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

footer {
    background-color: rgba(220, 22, 55, 0.422);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**/

#container-cad {
    flex-grow: 1;
    margin: 30px 50px;
    background-color: black;
}

#form-cad {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 40%;
}

#form-cad label {
    color: white;
}

#bt-cad {
    align-self: flex-start;
    padding: 5px 10px;
    margin-left: 45px;
    margin-top: 20px;
}

#cont-sec {
    border-left: 1px solid white;
}

#cont-sec h2, h3 {
    color: white;
    font-size: 2rem;
    margin-left: 25px;
}